# Data & outputs
data/
outputs/
checkpoints/

# Model weights
*.pt
*.pth

# Logs
*.log

# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# OS files
.DS_Store
__MACOSX/

# Optional (careful ⚠️)
# *.csv
# *.png
# *.zip